    <!-- Calendar Section -->
    <section id="calendar" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Agenda</h2>
                    <p>A lista de compromissos assumidos para 20{{ site.time | date: '%y' }} encontra-se abaixo.</p>
                    <a href="https://calendar.google.com/calendar/embed?src=dafinaulsj06503n77qjqaqimg%40group.calendar.google.com&ctz=Europe%2FLisbon" target="_blank" class="btn btn-default btn-lg">Abrir calendário</a>
                </div>
            </div>
        </div>
    </section>